* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
}

.lyka {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: white;
    padding-right: 50px; 
}
